<% const num = parseInt(pgNum); %>

<div id="navbuttons">
  <!-- won't run on first page -->
  <% if (pgNum != 1) { %>
      <!-- First Page -->
      <a id="firstpage" class="pagelinks" style="text-align: left;" href="/pages/1">«</a>
      <!-- Previous Page -->
      <a id="prevpage" class="pagelinks" href="/pages/<%= (num - 1) %>">Prev</a>
  <% } %>

  <!-- won't run on last page -->
  <% if (pgNum != pages) { %>
      <!-- Next Page -->
      <a id="nextpage" class="pagelinks" href="/pages/<%= (num + 1) %>">Next</a>
      <!-- Last Page -->
      <a id="lastpage" class="pagelinks" style="text-align: right;" href="/pages/<%= pages %>">»</a>
  <% } %>
</div>
