
.sec {
  /* margin-top: 20px; */
  padding-top: 20px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;

  /* margin-right: 10%;
  margin-left: 10%; */
}



a {
  color: #58437f;
}

/* ICON & BANNER */

/* PHONE SCREEN*/
@media screen and (max-width: 992px) {
  .pagelistblock {
    display: none;
  }
  .icon {
    display: none;
  }
  .mobilelogo {

    width: 50%;
    height: 50%;
    margin: 0 5px 0 5px;

    text-align: center;
  }
  .logobtn {
    display: none;
  }
  .img-fluid {
    max-width: 110%;
  }
  .adspace {
    display: none;
  }
  .mobileads {
    display: block;
  }
}
/* DESKTOP */
@media (min-width: 993px) {
  .navbtn {
    background-color: black;
    color: white !important;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    vertical-align: baseline;
    padding-top: 25px !important;
    margin: 0 5px 0 5px;
  }

  .navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
  .logobtn {
    /* border-radius: 50%; */
    height: 80px;
    width: auto;
    margin: 0 5px 0 5px;
    vertical-align: baseline;
  }
  .navbar-brand {
      display: none !important;
    }
    .adspace {
      display: block;
    }
    .mobileads {
      display: none;
    }
    @keyframes bounce {
      0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }

      40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
      }

      80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
      }
    }

    .navbtn:hover {

      animation: bounce 1s;

    }
}

/* LINK BOX */


.nav-link {

  padding-bottom: 0 !important;
}

.linkbox {
  margin-bottom: 20px;
  background-color: white;
}

#links {
  margin-bottom: 100px;
}

/* -------------------------------------------------NEWS TICKER------------------------------------------------- */


/* (A) FIXED WRAPPER */
.hwrap {

  overflow: hidden; /* HIDE SCROLL BAR */
  background: #eee;
}

/* (B) MOVING TICKER WRAPPER */
.hmove { display: flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-150%, 0, 0); }
}
.hmove { animation: tickerh linear 15s infinite; }
.hmove:hover { animation-play-state: paused; }


/* AD BOX */
#ads {
  padding-top: 0px;
}

.adbox {
  /* border: 1px;
  border-style: solid; */
  width: 100%;
  height: 50px;
  /* background-color: #4D4C7D; */
  color: #D8B9C3;

}

/* ARCHIVE */
#archive {
  margin-top: 100px;
  padding-bottom: 20px;
}

.comiclink {
  color: #58437f;
}

.comiclink:hover {
  color: #827397;
}

.adspace {
  border: 1px;
  border-style: solid;
  border-color: #b097dd;
  background-color: #b097dd;
}

.pagelistblock {
  background-color: #b097dd;
  /* box-shadow: 4px 4px 10px #000;
  transition: all 500ms; */
  color: #58437f;
}
.pageblock {

  /* box-shadow: 4px 4px 10px #000;
  transition: all 500ms; */
  color: white;
}

/* PAGE */

.btnsundercomic {
  background-color: #b097dd;
}

#navbuttons {
  padding: 10px;
  font-size: 18px;
}
#comicpage {
  display: inline-block;
  text-align: center;
}

.currentpage {
  text-align: center;
}

.pagelinks {
  color: #58437f;
}
.pagelinks:hover {
  color: #827397;
}
