
.sec {
  /* margin-top: 20px; */
  padding-top: 20px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;

  /* margin-right: 10%;
  margin-left: 10%; */
}



a {
  color: #58437f;
}

/* ICON & BANNER */

@media screen and (max-width: 992px) {
  .pagelistblock {
    display: none;
  }
  .icon {
    display: none;
  }
  .mobilelogo {
    height: 80px;
    width: auto;
    margin: 0 5px 0 5px;
    display: block;
  }
  .logobtn {
    display: none;
  }
}
@media (min-width: 993px) {
  .navbtn {
    background-color: black;
    color: white !important;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    vertical-align: baseline;
    padding-top: 25px !important;
    margin: 0 5px 0 5px;
  }

  .navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
  .logobtn {
    /* border-radius: 50%; */
    height: 80px;
    width: auto;
    margin: 0 5px 0 5px;
    vertical-align: baseline;
  }
  .mobilelogo {
      display: none;
    }
    @keyframes bounce {
      0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }

      40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
      }

      80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
      }
    }

    .navbtn:hover {

      animation: bounce 1s;

    }
}

/* LINK BOX */


.nav-link {

  padding-bottom: 0 !important;
}

.linkbox {
  margin-bottom: 20px;
  background-color: white;
}

#links {
  margin-bottom: 100px;
}

/* AD BOX */
#ads {
  padding-top: 0px;
}

.adbox {
  /* border: 1px;
  border-style: solid; */
  width: 100%;
  height: 50px;
  /* background-color: #4D4C7D; */
  color: #D8B9C3;

}

/* ARCHIVE */
#archive {
  margin-top: 100px;
  padding-bottom: 20px;
}

.comiclink {
  color: #58437f;
}

.comiclink:hover {
  color: #827397;
}

.adspace {
  border: 1px;
  border-style: solid;
  border-color: #b097dd;
  background-color: #b097dd;
}

.pagelistblock {
  background-color: #b097dd;
  /* box-shadow: 4px 4px 10px #000;
  transition: all 500ms; */
  color: #58437f;
}
.pageblock {

  /* box-shadow: 4px 4px 10px #000;
  transition: all 500ms; */
  color: white;
}

/* PAGE */

.btnsundercomic {
  background-color: #b097dd;
}

#navbuttons {
  padding: 10px;
  font-size: 18px;
}
#comicpage {
  display: inline-block;
  text-align: center;
}

.currentpage {
  text-align: center;
}

.pagelinks {
  color: #58437f;
}
.pagelinks:hover {
  color: #827397;
}
